In [14]:
import json
from tqdm import tqdm

# 1. Îç∞Ïù¥ÌÑ∞ Î°úÎìú
with open("data/output/review.json", "r", encoding="utf-8") as f:
    reviews = [json.loads(line) for line in f]

with open("data/output/user.json", "r", encoding="utf-8") as f:
    users = [json.loads(line) for line in f]

with open("data/output/business.json", "r", encoding="utf-8") as f:
    businesses = [json.loads(line) for line in f]

In [15]:
import json
import pandas as pd
from tqdm import tqdm


# 2. DataFrameÏúºÎ°ú Î≥ÄÌôò
df_reviews = pd.DataFrame(reviews)
df_users = pd.DataFrame(users)
df_businesses = pd.DataFrame(businesses)

# 3. Ï†ïÎ≥¥ Ï∂úÎ†• Ìï®Ïàò
def print_info(df, name):
    print(f"\nüìå {name} Ï†ïÎ≥¥")
    print("-" * 40)
    print(df.info())
    print(df.head(2))

# 4. Í∞Å ÌååÏùºÏùò Ï†ïÎ≥¥ Ï∂úÎ†•
print_info(df_reviews, "Î¶¨Î∑∞ Îç∞Ïù¥ÌÑ∞")
print_info(df_users, "ÏÇ¨Ïö©Ïûê Îç∞Ïù¥ÌÑ∞")
print_info(df_businesses, "ÏùåÏãùÏ†ê Îç∞Ïù¥ÌÑ∞")

üìå Î¶¨Î∑∞ Îç∞Ïù¥ÌÑ∞ Ï†ïÎ≥¥
----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 732435 entries, 0 to 732434
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   review_id     732435 non-null  object
 1   user_id       732435 non-null  object
 2   business_id   732435 non-null  object
 3   stars         732435 non-null  int64
 4   useful        732435 non-null  int64
 5   text          732435 non-null  object
 6   date          732435 non-null  int64
 7   token_length  732435 non-null  int64
dtypes: int64(4), object(4)
memory usage: 44.7+ MB
None
                review_id                 user_id             business_id  \
0  AqPFMleE6RsU23_auESxiA  _7bHUi9Uuf5__HHc_Q8guQ  kxX2SOes4o-D3ZQBkiMRfA
1  JrIxlS1TzJ-iCu79ul40cQ  eUta8W_HdHMXPzLBBZhL1A  04UD14gamNjLY0IDYVhHJg

   stars  useful                                               text  \
0      5       1  Wow!  Yummy, different,  delicious.   Our favo...
1      1       1  I am a long term frequent customer of this est...

            date  token_length
0  1420329663000            61
1  1443049831000            85

üìå ÏÇ¨Ïö©Ïûê Îç∞Ïù¥ÌÑ∞ Ï†ïÎ≥¥
----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28518 entries, 0 to 28517
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   user_id        28518 non-null  object
 1   name           28518 non-null  object
 2   review_count   28518 non-null  int64
 3   useful         28518 non-null  int64
 4   average_stars  28518 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 1.1+ MB
None
                  user_id    name  review_count  useful  average_stars
0  j14WgRoU_-2ZE1aw1dXrJg  Daniel          4333   43091           3.74
1  NIhcRW6DWvk1JQhDhXwgOQ     Lia          2288   12773           3.69

üìå ÏùåÏãùÏ†ê Îç∞Ïù¥ÌÑ∞ Ï†ïÎ≥¥
----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6855 entries, 0 to 6854
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   6855 non-null   object
 1   name          6855 non-null   object
 2   address       6855 non-null   object
 3   city          6855 non-null   object
 4   state         6855 non-null   object
 5   stars         6855 non-null   float64
 6   review_count  6855 non-null   int64
 7   is_open       6855 non-null   int64
 8   categories    6855 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 482.1+ KB
None
              business_id                name      address          city  \
0  MTSW4McQd7CbVtyjqoe9mw  St Honore Pastries  935 Race St  Philadelphia
1  MUTTqe8uqyMdBl186RmNeA            Tuna Bar  205 Race St  Philadelphia

  state  stars  review_count  is_open  \
0    PA    4.0            80        1
1    PA    4.0           245        1

                                          categories
0  Restaurants, Food, Bubble Tea, Coffee & Tea, B...
1                  Sushi Bars, Restaurants, Japanese

In [16]:
# user_id Îß§Ïπ≠Î•† ÌôïÏù∏
review_user_ids = set([r["user_id"] for r in reviews])
user_ids = set([u["user_id"] for u in users])
print("‚úÖ user_id Îß§Ïπ≠ Í∞úÏàò:", len(review_user_ids & user_ids))

# business_id Îß§Ïπ≠Î•† ÌôïÏù∏
review_biz_ids = set([r["business_id"] for r in reviews])
biz_ids = set([b["business_id"] for b in businesses])
print("‚úÖ business_id Îß§Ïπ≠ Í∞úÏàò:", len(review_biz_ids & biz_ids))

‚úÖ user_id Îß§Ïπ≠ Í∞úÏàò: 28518
‚úÖ business_id Îß§Ïπ≠ Í∞úÏàò: 6855

In [17]:
import json
from tqdm import tqdm

# 1. JSONL Î°úÎìú Ìï®Ïàò
def load_jsonl(path):
    with open(path, "r", encoding="utf-8") as f:
        return [json.loads(line) for line in f]

# 2. Í≤ΩÎ°ú ÏÑ§Ï†ï
review_path = "data/output/review.json"
user_path = "data/output/user.json"
business_path = "data/output/business.json"
output_path = "data/output/merged_dataset.json"

# 3. ÌååÏùº Î°úÎî©
reviews = load_jsonl(review_path)
users = load_jsonl(user_path)
businesses = load_jsonl(business_path)

# 4. Dict Ïù∏Îç±Ïã±
user_dict = {u["user_id"]: u for u in users}
business_dict = {b["business_id"]: b for b in businesses}

valid_user_ids = set(user_dict.keys())
valid_business_ids = set(business_dict.keys())

# ‚úÖ 5. Ïú†Ìö®Ìïú Î¶¨Î∑∞ ÌïÑÌÑ∞ÎßÅ
valid_reviews = [
    r for r in reviews
    if r.get("user_id") in valid_user_ids and
       r.get("business_id") in valid_business_ids and
       r.get("review_id")
]

# 6. Î≥ëÌï©
merged_data = []
for r in tqdm(valid_reviews, desc="Î≥ëÌï© Ï§ë"):
    uid = r["user_id"]
    bid = r["business_id"]
    u = user_dict[uid]
    b = business_dict[bid]

    merged_entry = r.copy()  # review ÌïÑÎìú Î≥µÏÇ¨

    # user_ prefix
    for k, v in u.items():
        merged_entry[f"user_{k}"] = v

    # business_ prefix
    for k, v in b.items():
        merged_entry[f"business_{k}"] = v

    merged_data.append(merged_entry)

# 7. Ï†ÄÏû• (JSONL)
with open(output_path, "w", encoding="utf-8") as f:
    for row in merged_data:
        json.dump(row, f, ensure_ascii=False)
        f.write("\n")

# 8. Í≤∞Í≥º ÌôïÏù∏
print(f"‚úÖ Î≥ëÌï© ÏôÑÎ£å: {output_path}")
print(f"Ï¥ù Î≥ëÌï© Î¶¨Î∑∞ Ïàò: {len(merged_data)}")
print(f"Ï†úÏô∏Îêú Î¶¨Î∑∞ Ïàò: {len(reviews) - len(valid_reviews)}")
print(f"ÏµúÏ¢Ö Ïª¨Îüº Ïàò: {len(merged_data[0]) if merged_data else 0}")
print("ÏòàÏãú Ïª¨Îüº:", list(merged_data[0].keys())[:10] if merged_data else "ÏóÜÏùå")

Î≥ëÌï© Ï§ë: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 451394/451394 [00:02<00:00, 217967.21it/s]

‚úÖ Î≥ëÌï© ÏôÑÎ£å: data/output/merged_dataset.json
Ï¥ù Î≥ëÌï© Î¶¨Î∑∞ Ïàò: 451394
Ï†úÏô∏Îêú Î¶¨Î∑∞ Ïàò: 281041
ÏµúÏ¢Ö Ïª¨Îüº Ïàò: 22
ÏòàÏãú Ïª¨Îüº: ['review_id', 'user_id', 'business_id', 'stars', 'useful', 'text', 'date', 'token_length', 'user_user_id', 'user_name']

In [18]:
import json
import pandas as pd

# 1. JSONL ÌååÏùº Í≤ΩÎ°ú
path = "data/output/merged_dataset.json"  # ÌïÑÏöî Ïãú Í≤ΩÎ°ú ÏàòÏ†ï

# 2. JSONL ÌååÏùº ÏùΩÍ∏∞
with open(path, "r", encoding="utf-8") as f:
    data = [json.loads(line) for line in f]
df = pd.DataFrame(data)

# 3. Ï§ëÎ≥µ/Î∂àÌïÑÏöîÌïú Ïª¨Îüº Ï†úÍ±∞
drop_cols = ["user_user_id", "business_business_id"]
df.drop(columns=[col for col in drop_cols if col in df.columns], inplace=True)

# 4. Ïª¨Îüº Ïù¥Î¶Ñ Î¶¨ÎÑ§Ïù¥Î∞ç (Î™ÖÌôïÌïòÍ≤å ÌïòÍ∏∞)
df.rename(columns={
    "stars": "review_stars",
    "useful": "review_useful",
    "date": "review_date"
}, inplace=True)

# 5. JSONLÎ°ú Ï†ÄÏû•
output_path = "data/output/merged_dataset.json"
with open(output_path, "w", encoding="utf-8") as f:
    for row in df.to_dict(orient="records"):
        json.dump(row, f, ensure_ascii=False)
        f.write("\n")

# 6. ÏöîÏïΩ Ï∂úÎ†•
print("‚úÖ Ï†ïÎ¶¨ ÏôÑÎ£å: JSONL ÌòïÏãùÏúºÎ°ú Ï†ÄÏû•")
print(f"Ï†ÄÏû• Í≤ΩÎ°ú: {output_path}")
print("Ï¥ù ÏÉòÌîå Ïàò:", len(df))
print("ÏµúÏ¢Ö Ïª¨Îüº Ïàò:", len(df.columns))
print("ÏÉòÌîå Ïª¨Îüº:", df.columns[:10].tolist())

‚úÖ Ï†ïÎ¶¨ ÏôÑÎ£å: JSONL ÌòïÏãùÏúºÎ°ú Ï†ÄÏû•
Ï†ÄÏû• Í≤ΩÎ°ú: data/output/merged_dataset.json
Ï¥ù ÏÉòÌîå Ïàò: 451394
ÏµúÏ¢Ö Ïª¨Îüº Ïàò: 20
ÏÉòÌîå Ïª¨Îüº: ['review_id', 'user_id', 'business_id', 'review_stars', 'review_useful', 'text', 'review_date', 'token_length', 'user_name', 'user_review_count']

In [19]:
import pandas as pd

# 2. Í≥µÎ∞± ÎòêÎäî NaN Í∞úÏàò Í≥ÑÏÇ∞ Ìï®Ïàò
def count_empty_or_blank(series):
    return series.apply(lambda x: pd.isna(x) or (isinstance(x, str) and x.strip() == "")).sum()

# 3. Í∞Å Ïª¨ÎüºÎ≥Ñ Í≤∞Ï∏°/Í≥µÎ∞± Ïàò ÌôïÏù∏
empty_counts = df.apply(count_empty_or_blank)

# 4. Ï∂úÎ†•
print("üìä Í∞Å Ïª¨ÎüºÎ≥Ñ Í≥µÎ∞± ÎòêÎäî Í≤∞Ï∏°Ïπò Í∞úÏàò:")
print(empty_counts)

üìä Í∞Å Ïª¨ÎüºÎ≥Ñ Í≥µÎ∞± ÎòêÎäî Í≤∞Ï∏°Ïπò Í∞úÏàò:
review_id                0
user_id                  0
business_id              0
review_stars             0
review_useful            0
text                     0
review_date              0
token_length             0
user_name                0
user_review_count        0
user_useful              0
user_average_stars       0
business_name            0
business_address         0
business_city            0
business_state           0
business_stars           0
business_review_count    0
business_is_open         0
business_categories      0
dtype: int64

In [20]:
import json
import pandas as pd

# 1. JSONL ÌååÏùº Í≤ΩÎ°ú
path = "data/output/merged_dataset.json"  # ÌïÑÏöî Ïãú Í≤ΩÎ°ú ÏàòÏ†ï

# 2. JSONL ÌååÏùº ÏùΩÍ∏∞
with open(path, "r", encoding="utf-8") as f:
    data = [json.loads(line) for line in f]

# 3. pandas DataFrameÏúºÎ°ú Î≥ÄÌôò
df = pd.DataFrame(data)

# 4. Í∏∞Î≥∏ Ï†ïÎ≥¥ Ï∂úÎ†•
print("üìä [Í∏∞Î≥∏ Ï†ïÎ≥¥]")
print(df.info())
print()

# 5. Ïª¨Îüº Î™©Î°ù
print("üßæ [Ïª¨Îüº Î™©Î°ù]")
print(df.columns.tolist())
print()

# 6. ÏòàÏãú Îç∞Ïù¥ÌÑ∞
print("üîç [ÏÉòÌîå Îç∞Ïù¥ÌÑ∞]")
print(df.head(3).to_string(index=False))

üìä [Í∏∞Î≥∏ Ï†ïÎ≥¥]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451394 entries, 0 to 451393
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   review_id              451394 non-null  object
 1   user_id                451394 non-null  object
 2   business_id            451394 non-null  object
 3   review_stars           451394 non-null  int64
 4   review_useful          451394 non-null  int64
 5   text                   451394 non-null  object
 6   review_date            451394 non-null  int64
 7   token_length           451394 non-null  int64
 8   user_name              451394 non-null  object
 9   user_review_count      451394 non-null  int64
 10  user_useful            451394 non-null  int64
 11  user_average_stars     451394 non-null  float64
 12  business_name          451394 non-null  object
 13  business_address       451394 non-null  object
 14  business_city          451394 non-null  object
 15  business_state         451394 non-null  object
 16  business_stars         451394 non-null  float64
 17  business_review_count  451394 non-null  int64
 18  business_is_open       451394 non-null  int64
 19  business_categories    451394 non-null  object
dtypes: float64(2), int64(8), object(10)
memory usage: 68.9+ MB
None

üßæ [Ïª¨Îüº Î™©Î°ù]
['review_id', 'user_id', 'business_id', 'review_stars', 'review_useful', 'text', 'review_date', 'token_length', 'user_name', 'user_review_count', 'user_useful', 'user_average_stars', 'business_name', 'business_address', 'business_city', 'business_state', 'business_stars', 'business_review_count', 'business_is_open', 'business_categories']

üîç [ÏÉòÌîå Îç∞Ïù¥ÌÑ∞]
             review_id                user_id            business_id  review_stars  review_useful                                                                                                                                                                                                                                                                                                                                                                                                                                text   review_date  token_length user_name  user_review_count  user_useful  user_average_stars     business_name business_address business_city business_state  business_stars  business_review_count  business_is_open                    business_categories
8JFGBuHMoiNDyfcxuWNtrA smOvOajNG0lS4Pq7d8g4JQ RZtGWDLCAtuipwaZ-UfjmQ             4              0                                                                                                                                                                                                                                                  Good food--loved the gnocchi with marinara\nthe baked eggplant appetizer was very good too\n\nThe service was very slow, but despite this, I'd go back, the food is just that good 1255550234000            39       Meg                176          120                3.46         LaScala's  615 Chestnut St  Philadelphia             PA             3.5                    367                 0     Pizza, Restaurants, Italian, Salad
Xs8Z8lmKkosqW5mw_sVAoA IQsF3Rc6IgCzjVV9DE8KXg eFvzHawVJofxSnD7TgbZtg             5              0 My absolute favorite cafe in the city. Their black and white latte is probably the best I've ever had (not too sweet and just the right amount of foam), soups are always really good (even for non-soup people) and there's just a lot of space to do work. The noise level is perfect, the music is at a perfect level, and I always enjoy when patrons bring their dogs. I'll keep giving them my business for as long as I can. 1415806227000           100      Dana                182          217                3.41   Good Karma Cafe      928 Pine St  Philadelphia             PA             4.0                    249                 1 Food, Cafes, Coffee & Tea, Restaurants
JBWZmBy69VMggxj3eYn17Q aFa96pz67TwOFu4Weq5Agg kq5Ghhh14r-eCxlVmlyd8w             5              0                           My boyfriend and I tried this deli for the first time today. I had a turkey, avocado & bacon panini and he ha a buffalo chicken wrap. We will definitely be returning. The wait for food wasn't too long, which is always appreciated during lunch hour. There was SO much to choose from. They have salads, soup, macaroni, sandwiches and hot food. I love a deli that has many options to choose from! 1535060378000            87     Jenna                 84           75                3.93 The Coventry Deli   2000 Market St  Philadelphia             PA             4.0                     65                 1  Restaurants, Delis, Salad, Sandwiches