ì´ ë…¸íŠ¸ë¶ì€ ë¦¬ë·°, ì‚¬ìš©ì, ìŒì‹ì  ë°ì´í„°ë¥¼ í†µí•©í•˜ì—¬ ë¶„ì„í•˜ê¸° ìœ„í•œ ì „ì²˜ë¦¬ ê¸°ë°˜ ì‘ì—…ì„ ìˆ˜í–‰í•©ë‹ˆë‹¤.

JSON í˜•ì‹ìœ¼ë¡œ ì €ì¥ëœ ì„¸ ê°€ì§€ ë°ì´í„°ë¥¼ ì½ì–´ì™€ ê°ê° DataFrameìœ¼ë¡œ ë³€í™˜í•œ ë’¤, êµ¬ì¡°ì™€ ìƒ˜í”Œì„ í™•ì¸í•©ë‹ˆë‹¤.

ë˜í•œ ë¦¬ë·°ì— í¬í•¨ëœ ì‚¬ìš©ìì™€ ìŒì‹ì ì˜ ID ë§¤ì¹­ë¥ ì„ ê³„ì‚°í•´ ë°ì´í„° ì •í•©ì„±ì„ ì§„ë‹¨í•©ë‹ˆë‹¤.

ì´í›„ ì¶”ì²œ ì‹œìŠ¤í…œ ë˜ëŠ” ê°ì„± ë¶„ì„ì„ ìœ„í•œ í†µí•© ë°ì´í„°ì…‹ êµ¬ì¶•ì„ ìœ„í•œ ê¸°ì´ˆ ì‘ì—…ìœ¼ë¡œ í™œìš©ë  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [1]:
import json
from tqdm import tqdm

# 1. ë°ì´í„° ë¡œë“œ
with open("data/output/review.json", "r", encoding="utf-8") as f:
    reviews = [json.loads(line) for line in f]

with open("data/output/user.json", "r", encoding="utf-8") as f:
    users = [json.loads(line) for line in f]

with open("data/output/business.json", "r", encoding="utf-8") as f:
    businesses = [json.loads(line) for line in f]

In [2]:
import json
import pandas as pd
from tqdm import tqdm


# 2. DataFrameìœ¼ë¡œ ë³€í™˜
df_reviews = pd.DataFrame(reviews)
df_users = pd.DataFrame(users)
df_businesses = pd.DataFrame(businesses)

# 3. ì •ë³´ ì¶œë ¥ í•¨ìˆ˜
def print_info(df, name):
    print(f"\nğŸ“Œ {name} ì •ë³´")
    print("-" * 40)
    print(df.info())
    print(df.head(2))

# 4. ê° íŒŒì¼ì˜ ì •ë³´ ì¶œë ¥
print_info(df_reviews, "ë¦¬ë·° ë°ì´í„°")
print_info(df_users, "ì‚¬ìš©ì ë°ì´í„°")
print_info(df_businesses, "ìŒì‹ì  ë°ì´í„°")

ğŸ“Œ ë¦¬ë·° ë°ì´í„° ì •ë³´
----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730552 entries, 0 to 730551
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   review_id     730552 non-null  object
 1   user_id       730552 non-null  object
 2   business_id   730552 non-null  object
 3   stars         730552 non-null  int64
 4   useful        730552 non-null  int64
 5   text          730552 non-null  object
 6   date          730552 non-null  int64
 7   token_length  730552 non-null  int64
dtypes: int64(4), object(4)
memory usage: 44.6+ MB
None
                review_id                 user_id             business_id  \
0  AqPFMleE6RsU23_auESxiA  _7bHUi9Uuf5__HHc_Q8guQ  kxX2SOes4o-D3ZQBkiMRfA
1  JrIxlS1TzJ-iCu79ul40cQ  eUta8W_HdHMXPzLBBZhL1A  04UD14gamNjLY0IDYVhHJg

   stars  useful                                               text  \
0      5       1  Wow!  Yummy, different,  delicious.   Our favo...
1      1       1  I am a long term frequent customer of this est...

            date  token_length
0  1420329663000            61
1  1443049831000            85

ğŸ“Œ ì‚¬ìš©ì ë°ì´í„° ì •ë³´
----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28465 entries, 0 to 28464
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   user_id        28465 non-null  object
 1   name           28465 non-null  object
 2   review_count   28465 non-null  int64
 3   useful         28465 non-null  int64
 4   average_stars  28465 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 1.1+ MB
None
                  user_id    name  review_count  useful  average_stars
0  j14WgRoU_-2ZE1aw1dXrJg  Daniel          4333   43091           3.74
1  NIhcRW6DWvk1JQhDhXwgOQ     Lia          2288   12773           3.69

ğŸ“Œ ìŒì‹ì  ë°ì´í„° ì •ë³´
----------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6855 entries, 0 to 6854
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   6855 non-null   object
 1   name          6855 non-null   object
 2   address       6855 non-null   object
 3   city          6855 non-null   object
 4   state         6855 non-null   object
 5   stars         6855 non-null   float64
 6   review_count  6855 non-null   int64
 7   is_open       6855 non-null   int64
 8   categories    6855 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 482.1+ KB
None
              business_id                name      address          city  \
0  MTSW4McQd7CbVtyjqoe9mw  St Honore Pastries  935 Race St  Philadelphia
1  MUTTqe8uqyMdBl186RmNeA            Tuna Bar  205 Race St  Philadelphia

  state  stars  review_count  is_open  \
0    PA    4.0            80        1
1    PA    4.0           245        1

                                          categories
0  Restaurants, Food, Bubble Tea, Coffee & Tea, B...
1                  Sushi Bars, Restaurants, Japanese

In [3]:
# user_id ë§¤ì¹­ë¥  í™•ì¸
review_user_ids = set([r["user_id"] for r in reviews])
user_ids = set([u["user_id"] for u in users])
print("âœ… user_id ë§¤ì¹­ ê°œìˆ˜:", len(review_user_ids & user_ids))

# business_id ë§¤ì¹­ë¥  í™•ì¸
review_biz_ids = set([r["business_id"] for r in reviews])
biz_ids = set([b["business_id"] for b in businesses])
print("âœ… business_id ë§¤ì¹­ ê°œìˆ˜:", len(review_biz_ids & biz_ids))

âœ… user_id ë§¤ì¹­ ê°œìˆ˜: 28465
âœ… business_id ë§¤ì¹­ ê°œìˆ˜: 6855

In [4]:
import json
from tqdm import tqdm

# 1. JSONL ë¡œë“œ í•¨ìˆ˜
def load_jsonl(path):
    with open(path, "r", encoding="utf-8") as f:
        return [json.loads(line) for line in f]

# 2. ê²½ë¡œ ì„¤ì •
review_path = "data/output/review.json"
user_path = "data/output/user.json"
business_path = "data/output/business.json"
output_path = "data/output/merged_dataset.json"

# 3. íŒŒì¼ ë¡œë”©
reviews = load_jsonl(review_path)
users = load_jsonl(user_path)
businesses = load_jsonl(business_path)

# 4. Dict ì¸ë±ì‹±
user_dict = {u["user_id"]: u for u in users}
business_dict = {b["business_id"]: b for b in businesses}

valid_user_ids = set(user_dict.keys())
valid_business_ids = set(business_dict.keys())

# âœ… 5. ìœ íš¨í•œ ë¦¬ë·° í•„í„°ë§
valid_reviews = [
    r for r in reviews
    if r.get("user_id") in valid_user_ids and
       r.get("business_id") in valid_business_ids and
       r.get("review_id")
]

# 6. ë³‘í•©
merged_data = []
for r in tqdm(valid_reviews, desc="ë³‘í•© ì¤‘"):
    uid = r["user_id"]
    bid = r["business_id"]
    u = user_dict[uid]
    b = business_dict[bid]

    merged_entry = r.copy()  # review í•„ë“œ ë³µì‚¬

    # user_ prefix
    for k, v in u.items():
        merged_entry[f"user_{k}"] = v

    # business_ prefix
    for k, v in b.items():
        merged_entry[f"business_{k}"] = v

    merged_data.append(merged_entry)

# 7. ì €ì¥ (JSONL)
with open(output_path, "w", encoding="utf-8") as f:
    for row in merged_data:
        json.dump(row, f, ensure_ascii=False)
        f.write("\n")

# 8. ê²°ê³¼ í™•ì¸
print(f"âœ… ë³‘í•© ì™„ë£Œ: {output_path}")
print(f"ì´ ë³‘í•© ë¦¬ë·° ìˆ˜: {len(merged_data)}")
print(f"ì œì™¸ëœ ë¦¬ë·° ìˆ˜: {len(reviews) - len(valid_reviews)}")
print(f"ìµœì¢… ì»¬ëŸ¼ ìˆ˜: {len(merged_data[0]) if merged_data else 0}")
print("ì˜ˆì‹œ ì»¬ëŸ¼:", list(merged_data[0].keys())[:10] if merged_data else "ì—†ìŒ")

ë³‘í•© ì¤‘: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 451185/451185 [00:02<00:00, 219381.71it/s]

âœ… ë³‘í•© ì™„ë£Œ: data/output/merged_dataset.json
ì´ ë³‘í•© ë¦¬ë·° ìˆ˜: 451185
ì œì™¸ëœ ë¦¬ë·° ìˆ˜: 279367
ìµœì¢… ì»¬ëŸ¼ ìˆ˜: 22
ì˜ˆì‹œ ì»¬ëŸ¼: ['review_id', 'user_id', 'business_id', 'stars', 'useful', 'text', 'date', 'token_length', 'user_user_id', 'user_name']

In [5]:
import json
import pandas as pd

# 1. JSONL íŒŒì¼ ê²½ë¡œ
path = "data/output/merged_dataset.json"  # í•„ìš” ì‹œ ê²½ë¡œ ìˆ˜ì •

# 2. JSONL íŒŒì¼ ì½ê¸°
with open(path, "r", encoding="utf-8") as f:
    data = [json.loads(line) for line in f]
df = pd.DataFrame(data)

# 3. ì¤‘ë³µ/ë¶ˆí•„ìš”í•œ ì»¬ëŸ¼ ì œê±°
drop_cols = ["user_user_id", "business_business_id"]
df.drop(columns=[col for col in drop_cols if col in df.columns], inplace=True)

# 4. ì»¬ëŸ¼ ì´ë¦„ ë¦¬ë„¤ì´ë° (ëª…í™•í•˜ê²Œ í•˜ê¸°)
df.rename(columns={
    "stars": "review_stars",
    "useful": "review_useful",
    "date": "review_date"
}, inplace=True)

# 5. JSONLë¡œ ì €ì¥
output_path = "data/output/merged_dataset.json"
with open(output_path, "w", encoding="utf-8") as f:
    for row in df.to_dict(orient="records"):
        json.dump(row, f, ensure_ascii=False)
        f.write("\n")

# 6. ìš”ì•½ ì¶œë ¥
print("âœ… ì •ë¦¬ ì™„ë£Œ: JSONL í˜•ì‹ìœ¼ë¡œ ì €ì¥")
print(f"ì €ì¥ ê²½ë¡œ: {output_path}")
print("ì´ ìƒ˜í”Œ ìˆ˜:", len(df))
print("ìµœì¢… ì»¬ëŸ¼ ìˆ˜:", len(df.columns))
print("ìƒ˜í”Œ ì»¬ëŸ¼:", df.columns[:10].tolist())

âœ… ì •ë¦¬ ì™„ë£Œ: JSONL í˜•ì‹ìœ¼ë¡œ ì €ì¥
ì €ì¥ ê²½ë¡œ: data/output/merged_dataset.json
ì´ ìƒ˜í”Œ ìˆ˜: 451185
ìµœì¢… ì»¬ëŸ¼ ìˆ˜: 20
ìƒ˜í”Œ ì»¬ëŸ¼: ['review_id', 'user_id', 'business_id', 'review_stars', 'review_useful', 'text', 'review_date', 'token_length', 'user_name', 'user_review_count']

In [6]:
import pandas as pd

# 2. ê³µë°± ë˜ëŠ” NaN ê°œìˆ˜ ê³„ì‚° í•¨ìˆ˜
def count_empty_or_blank(series):
    return series.apply(lambda x: pd.isna(x) or (isinstance(x, str) and x.strip() == "")).sum()

# 3. ê° ì»¬ëŸ¼ë³„ ê²°ì¸¡/ê³µë°± ìˆ˜ í™•ì¸
empty_counts = df.apply(count_empty_or_blank)

# 4. ì¶œë ¥
print("ğŸ“Š ê° ì»¬ëŸ¼ë³„ ê³µë°± ë˜ëŠ” ê²°ì¸¡ì¹˜ ê°œìˆ˜:")
print(empty_counts)

ğŸ“Š ê° ì»¬ëŸ¼ë³„ ê³µë°± ë˜ëŠ” ê²°ì¸¡ì¹˜ ê°œìˆ˜:
review_id                0
user_id                  0
business_id              0
review_stars             0
review_useful            0
text                     0
review_date              0
token_length             0
user_name                0
user_review_count        0
user_useful              0
user_average_stars       0
business_name            0
business_address         0
business_city            0
business_state           0
business_stars           0
business_review_count    0
business_is_open         0
business_categories      0
dtype: int64

In [7]:
import json
import pandas as pd

# 1. JSONL íŒŒì¼ ê²½ë¡œ
path = "data/output/merged_dataset.json"  # í•„ìš” ì‹œ ê²½ë¡œ ìˆ˜ì •

# 2. JSONL íŒŒì¼ ì½ê¸°
with open(path, "r", encoding="utf-8") as f:
    data = [json.loads(line) for line in f]

# 3. pandas DataFrameìœ¼ë¡œ ë³€í™˜
df = pd.DataFrame(data)

# 4. ê¸°ë³¸ ì •ë³´ ì¶œë ¥
print("ğŸ“Š [ê¸°ë³¸ ì •ë³´]")
print(df.info())
print()

# 5. ì»¬ëŸ¼ ëª©ë¡
print("ğŸ§¾ [ì»¬ëŸ¼ ëª©ë¡]")
print(df.columns.tolist())
print()

# 6. ì˜ˆì‹œ ë°ì´í„°
print("ğŸ” [ìƒ˜í”Œ ë°ì´í„°]")
print(df.head(3).to_string(index=False))

ğŸ“Š [ê¸°ë³¸ ì •ë³´]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451185 entries, 0 to 451184
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   review_id              451185 non-null  object
 1   user_id                451185 non-null  object
 2   business_id            451185 non-null  object
 3   review_stars           451185 non-null  int64
 4   review_useful          451185 non-null  int64
 5   text                   451185 non-null  object
 6   review_date            451185 non-null  int64
 7   token_length           451185 non-null  int64
 8   user_name              451185 non-null  object
 9   user_review_count      451185 non-null  int64
 10  user_useful            451185 non-null  int64
 11  user_average_stars     451185 non-null  float64
 12  business_name          451185 non-null  object
 13  business_address       451185 non-null  object
 14  business_city          451185 non-null  object
 15  business_state         451185 non-null  object
 16  business_stars         451185 non-null  float64
 17  business_review_count  451185 non-null  int64
 18  business_is_open       451185 non-null  int64
 19  business_categories    451185 non-null  object
dtypes: float64(2), int64(8), object(10)
memory usage: 68.8+ MB
None

ğŸ§¾ [ì»¬ëŸ¼ ëª©ë¡]
['review_id', 'user_id', 'business_id', 'review_stars', 'review_useful', 'text', 'review_date', 'token_length', 'user_name', 'user_review_count', 'user_useful', 'user_average_stars', 'business_name', 'business_address', 'business_city', 'business_state', 'business_stars', 'business_review_count', 'business_is_open', 'business_categories']

ğŸ” [ìƒ˜í”Œ ë°ì´í„°]
             review_id                user_id            business_id  review_stars  review_useful                                                                                                                                                                                                                                                                                                                                                                                                                                text   review_date  token_length user_name  user_review_count  user_useful  user_average_stars     business_name business_address business_city business_state  business_stars  business_review_count  business_is_open                    business_categories
8JFGBuHMoiNDyfcxuWNtrA smOvOajNG0lS4Pq7d8g4JQ RZtGWDLCAtuipwaZ-UfjmQ             4              0                                                                                                                                                                                                                                                  Good food--loved the gnocchi with marinara\nthe baked eggplant appetizer was very good too\n\nThe service was very slow, but despite this, I'd go back, the food is just that good 1255550234000            39       Meg                176          120                3.46         LaScala's  615 Chestnut St  Philadelphia             PA             3.5                    367                 0     Pizza, Restaurants, Italian, Salad
Xs8Z8lmKkosqW5mw_sVAoA IQsF3Rc6IgCzjVV9DE8KXg eFvzHawVJofxSnD7TgbZtg             5              0 My absolute favorite cafe in the city. Their black and white latte is probably the best I've ever had (not too sweet and just the right amount of foam), soups are always really good (even for non-soup people) and there's just a lot of space to do work. The noise level is perfect, the music is at a perfect level, and I always enjoy when patrons bring their dogs. I'll keep giving them my business for as long as I can. 1415806227000           100      Dana                182          217                3.41   Good Karma Cafe      928 Pine St  Philadelphia             PA             4.0                    249                 1 Food, Cafes, Coffee & Tea, Restaurants
JBWZmBy69VMggxj3eYn17Q aFa96pz67TwOFu4Weq5Agg kq5Ghhh14r-eCxlVmlyd8w             5              0                           My boyfriend and I tried this deli for the first time today. I had a turkey, avocado & bacon panini and he ha a buffalo chicken wrap. We will definitely be returning. The wait for food wasn't too long, which is always appreciated during lunch hour. There was SO much to choose from. They have salads, soup, macaroni, sandwiches and hot food. I love a deli that has many options to choose from! 1535060378000            87     Jenna                 84           75                3.93 The Coventry Deli   2000 Market St  Philadelphia             PA             4.0                     65                 1  Restaurants, Delis, Salad, Sandwiches